@import "tailwindcss";

.menu {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 120%;
    font-weight: bolder;
    font-family: sans-serif;
}

.menu button {
    border-color: #000000;
    border-width: 6px;
    border-style: outset;
    background-color: white;
    font-size: 120%;
    font-weight: bolder;
    padding: 5% 2%;
    border-radius: 16px;
    margin-bottom: 5%;
    width: 100%;
}

.menu button:hover {
    text-decoration: underline;
    border-style: inset;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -370px;
}

.board-row {
    height: 33.333333333%;
}

.square {
    float: left;
    width: 33.333333333%;
    height: 100%;
    border-width: 10px;
    border-color: #000000;
    background-color: white;
    font-size: 700%;
    font-weight: bolder;
    font-family: sans-serif;
    border-style: none;
}

.square.top {
    border-bottom-style: solid;
}

.square.bottom {
    border-top-style: solid;
}

.square.left {
    border-right-style: solid;
}

.square.right {
    border-left-style: solid;
}

.game-end {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -370px;
}

.game-end .square {
    color: lightgray;
    border-color: lightgray;
    filter: blur(1px);
}

.game-results {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-results h1 {
    font-size: 300%;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    padding: 25px;
    border: double black 10px;
    border-radius: 5px;
    width: 100%;
}

.game-results button {
    border-color: #000000;
    border-width: 8px;
    border-style: outset;
    background-color: white;
    font-size: 200%;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 2% 2%;
    border-radius: 16px;
    margin-bottom: 5%;
    width: 100%;
}

.game-results button:hover {
    text-decoration: underline;
    border-style: inset;
}

@media screen and (max-width:800px){
    .game {
        width: 300px;
        height: 300px;
        margin-left: -150px;
        margin-top: -170px;
    }

    .game-end {
        width: 300px;
        height: 300px;
        margin-left: -150px;
        margin-top: -170px;
    }

    .square {
        font-size: 350%;
    }
}


